/* CSS declarations go here */
html, body {
  font-family: monospace;
  color: #333;
  width: 400px;
}

.container > div { clear: both; margin: 0 auto;}


.brand { text-align: left; width: 100%; display: inline-block;}
.brand > div { display: inline-block; }
.brand .logo { padding: 0px; margin: 0 10px; text-align: left;}
.brand .login { width: 60%; text-align: right;}


.new_score { margin: 10px 30px;}
.new_score input, .new_score select { font-weight: bold; text-align: center; background-color: whitesmoke; min-height: 20px;}
/* table shell */
.new_score table { width: 330px; border: 1px solid crimson; border-collapse: collapse;}
.new_score table tr:first-child::before {}
/* table trickery */
.new_score table tr td { border-bottom: 1px dotted pink; text-align: center;}
.new_score table tr td:first-child { text-align: left; font-family: fantasy; width: 100px; padding: 20px 5px; } 
/* last row */
.new_score table tr:last-child td { border-bottom: none; background-color: crimson; padding: 7px; text-align: right; }


table.oldscore thead { }
table.oldscore tbody { }
table.oldscore tfoot { }